$color-texto: white;
main{
    background-color: rgba(0, 0, 0, 0.5);
    width: 65vw;
    margin: 0 auto;
    border-radius: 10%;
    section{
        h1{
            text-align: center;
            font-size: 120px;
            color: $color-texto;
        }
        div{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
                figure{
                    img{
                        width: 400px;
                    }
                }
                .info-personal{
                                display: flex;
                                flex-direction: column;
                                flex-wrap: wrap;
                                h2{
                                    font-size: 35px;
                                    color: $color-texto;
                                }
                                h3{
                                    color: $color-texto;
                                }
                                }
            }
    }
}